# Módulo de entrada e saída de dados (es)

O módulo prevê a função para a leitura da API do Bacen e para produção dos gráficos

In [1]:
# Importando a biblioteca

import numpy as np
import pandas as pd


# Função para consumir a API do TCE - RS

def leitor_dados(arquivo: str) -> pd.DataFrame:
    pass

## Requisito 1

Função para coletar dados de variável do Balancete de Despesa Consolidado 2023 em formato CSV, usando a API de dados abertos do TCE - RS.

In [2]:
# API TCE RS
dados = pd.read_csv("https://dados.tce.rs.gov.br/dados/municipal/balancete-despesa/2023.csv")

In [3]:
dados.head(4)

,ANO,MES,COD_MUNICIPIO,NOME_MUNICIPIO,CD_ORGAO,NOME_ORGAO,CD_RECEBIMENTO,CD_ORGAO_ORCAMENTARIO,NOME_ORGAO_ORCAMENTARIO,CD_UNIDADE_ORCAMENTARIA,...,VL_REDUCAO_RECURSO,VL_TRANSFERENCIA,VL_TRANSPOSICAO,VL_REMANEJAMENTO,VL_EMPENHADO,VL_LIQUIDADO,VL_PAGO,VL_LIMITADO,VL_RECOMPOSICAO,VL_PREVISAO_EXECUCAO
0,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,1291047.08,99401.81,99401.81,0.0,0.0,0.0
1,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,251900.00,30456.87,0.00,0.0,0.0,0.0
2,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0
3,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,6206.47,6206.47,6206.47,0.0,0.0,0.0

In [21]:
dados.tail(5)

,ANO,MES,COD_MUNICIPIO,NOME_MUNICIPIO,CD_ORGAO,NOME_ORGAO,CD_RECEBIMENTO,CD_ORGAO_ORCAMENTARIO,NOME_ORGAO_ORCAMENTARIO,CD_UNIDADE_ORCAMENTARIA,...,VL_REDUCAO_RECURSO,VL_TRANSFERENCIA,VL_TRANSPOSICAO,VL_REMANEJAMENTO,VL_EMPENHADO,VL_LIQUIDADO,VL_PAGO,VL_LIMITADO,VL_RECOMPOSICAO,VL_PREVISAO_EXECUCAO
427623,2023,10,222,TUPANCIRETÃ,88437,TUPANPREV - AUT. PREV. SERV. PÚBLICOS DO MUNIC...,314350,13,FUNPREV,1,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0
427624,2023,10,222,TUPANCIRETÃ,88437,TUPANPREV - AUT. PREV. SERV. PÚBLICOS DO MUNIC...,314350,13,FUNPREV,1,...,0.0,0.0,0.0,0.0,46415.94,46415.94,46415.94,0.0,0.0,0.0
427625,2023,10,222,TUPANCIRETÃ,88437,TUPANPREV - AUT. PREV. SERV. PÚBLICOS DO MUNIC...,314350,13,FUNPREV,1,...,0.0,0.0,0.0,0.0,313795.47,282239.29,282239.29,0.0,0.0,0.0
427626,2023,10,222,TUPANCIRETÃ,88437,TUPANPREV - AUT. PREV. SERV. PÚBLICOS DO MUNIC...,314350,13,FUNPREV,1,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0
427627,2023,10,222,TUPANCIRETÃ,88437,TUPANPREV - AUT. PREV. SERV. PÚBLICOS DO MUNIC...,314350,29,RESERVA CONTINGENCIA FUNPREV,99,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0

### Testes da Python Panda

Referência: [link](https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html)

In [4]:
ANO = dados["ANO"]
ANO.head(4)

0    2023
1    2023
2    2023
3    2023
Name: ANO, dtype: int64

In [5]:
print(type(ANO))

<class 'pandas.core.series.Series'>

In [6]:
pagamentos = dados["VL_PAGO"]

pagamentos.head(5)

0    99401.81
1        0.00
2        0.00
3     6206.47
4     1239.00
Name: VL_PAGO, dtype: float64

In [7]:
pagamentos.max()

412488348.15

In [22]:
d1 = dados["VL_PREVISAO_EXECUCAO"]

d1.max()

401079585.77

In [8]:
dados.describe()

,ANO,MES,COD_MUNICIPIO,CD_ORGAO,CD_RECEBIMENTO,CD_ORGAO_ORCAMENTARIO,CD_UNIDADE_ORCAMENTARIA,CD_FUNCAO,CD_SUBFUNCAO,CD_PROGRAMA,...,VL_REDUCAO_RECURSO,VL_TRANSFERENCIA,VL_TRANSPOSICAO,VL_REMANEJAMENTO,VL_EMPENHADO,VL_LIQUIDADO,VL_PAGO,VL_LIMITADO,VL_RECOMPOSICAO,VL_PREVISAO_EXECUCAO
count,427628.0,427628.000000,427628.000000,427628.000000,427628.000000,427628.000000,427628.000000,427628.000000,427628.000000,427628.000000,...,427628.0,4.276280e+05,4.276280e+05,4.276280e+05,4.276280e+05,4.276280e+05,4.276280e+05,4.276280e+05,4.276280e+05,4.276280e+05
mean,2023.0,9.970495,215.370981,61735.134084,313778.373336,8.132601,2.938454,11.569942,326.816401,244.257387,...,0.0,7.672035e+02,2.268333e+02,7.917381e+02,1.382644e+05,1.209877e+05,1.168090e+05,2.323018e+03,1.982150e+03,4.328473e+04
std,0.0,0.179712,139.315635,14038.087115,699.698238,7.579146,7.805054,7.568892,198.578317,802.124749,...,0.0,6.801197e+04,1.547658e+04,5.575785e+04,2.023172e+06,1.836041e+06,1.806534e+06,3.237229e+05,3.066145e+05,1.100036e+06
min,2023.0,1.000000,1.000000,40100.000000,305606.000000,1.000000,0.000000,1.000000,31.000000,0.000000,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2023.0,10.000000,99.000000,49900.000000,313330.000000,5.000000,1.000000,8.000000,124.000000,10.000000,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2023.0,10.000000,190.000000,59300.000000,313847.000000,7.000000,1.000000,10.000000,301.000000,42.000000,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,2.800000e+02,6.252500e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2023.0,10.000000,326.000000,72800.000000,314355.000000,9.000000,2.000000,13.000000,392.000000,120.000000,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,2.600798e+04,2.150328e+04,2.009411e+04,0.000000e+00,0.000000e+00,1.000000e+02
max,2023.0,10.000000,499.000000,88437.000000,314850.000000,99.000000,99.000000,99.000000,999.000000,9999.000000,...,0.0,3.384770e+07,5.300000e+06,1.700000e+07,5.291985e+08,4.125369e+08,4.124883e+08,1.183025e+08,1.166244e+08,4.010796e+08

In [9]:
dados.dtypes

ANO                              int64
MES                              int64
COD_MUNICIPIO                    int64
NOME_MUNICIPIO                  object
CD_ORGAO                         int64
NOME_ORGAO                      object
CD_RECEBIMENTO                   int64
CD_ORGAO_ORCAMENTARIO            int64
NOME_ORGAO_ORCAMENTARIO         object
CD_UNIDADE_ORCAMENTARIA          int64
NOME_UNIDADE                    object
TP_UNIDADE                      object
CD_FUNCAO                        int64
DS_FUNCAO                       object
CD_SUBFUNCAO                     int64
DS_SUBFUNCAO                    object
CD_PROGRAMA                      int64
DS_PROGRAMA                     object
CD_PROJETO                       int64
NM_PROJETO                      object
CD_ELEMENTO                     object
CD_RECURSO                     float64
NM_RECURSO                     float64
CD_FONTE_RECURSO                 int64
VL_DOTACAO_INICIAL             float64
VL_ATUALIZACAO_MONETARIA       float64
VL_CREDITOS_SUPLEMENTARES      float64
VL_CREDITOS_ESPECIAIS          float64
VL_CREDITOS_EXTRAORDINARIOS    float64
VL_REDUCAO_DOTACAO             float64
VL_SUPLEMENTACAO_RECURSO       float64
VL_REDUCAO_RECURSO             float64
VL_TRANSFERENCIA               float64
VL_TRANSPOSICAO                float64
VL_REMANEJAMENTO               float64
VL_EMPENHADO                   float64
VL_LIQUIDADO                   float64
VL_PAGO                        float64
VL_LIMITADO                    float64
VL_RECOMPOSICAO                float64
VL_PREVISAO_EXECUCAO           float64
dtype: object

In [12]:
# Como selecionar uma categoria específica do DataFrame

type(dados["VL_PAGO"])

pandas.core.series.Series

In [13]:
pagamentos.shape

(427628,)

In [14]:
emp_pago = dados[['VL_EMPENHADO','VL_PAGO']]

emp_pago.head()

   VL_EMPENHADO   VL_PAGO
0    1291047.08  99401.81
1     251900.00      0.00
2          0.00      0.00
3       6206.47   6206.47
4       1239.00   1239.00

In [15]:
type(dados[['VL_EMPENHADO','VL_PAGO']])

pandas.core.frame.DataFrame

In [16]:
emp_pago.shape

(427628, 2)

In [18]:
# Filtrando linhas específicas
 
acima_media = dados[pagamentos > 1.16809000]
acima_media.head()

,ANO,MES,COD_MUNICIPIO,NOME_MUNICIPIO,CD_ORGAO,NOME_ORGAO,CD_RECEBIMENTO,CD_ORGAO_ORCAMENTARIO,NOME_ORGAO_ORCAMENTARIO,CD_UNIDADE_ORCAMENTARIA,...,VL_REDUCAO_RECURSO,VL_TRANSFERENCIA,VL_TRANSPOSICAO,VL_REMANEJAMENTO,VL_EMPENHADO,VL_LIQUIDADO,VL_PAGO,VL_LIMITADO,VL_RECOMPOSICAO,VL_PREVISAO_EXECUCAO
0,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,1291047.08,99401.81,99401.81,0.0,0.0,0.0
3,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,6206.47,6206.47,6206.47,0.0,0.0,0.0
4,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,1239.00,1239.00,1239.00,0.0,0.0,0.0
5,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,53970.00,11830.00,11830.00,0.0,0.0,0.0
6,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,123297.04,30265.68,30265.68,0.0,0.0,0.0

In [19]:
dados["VL_PAGO"] > 1.16809000

0          True
1         False
2         False
3          True
4          True
          ...
427623    False
427624     True
427625     True
427626    False
427627    False
Name: VL_PAGO, Length: 427628, dtype: bool

In [20]:
acima_media.shape

(213427, 41)

In [23]:
poa_tupa = dados[dados['COD_MUNICIPIO'].isin([149,222])]


poa_tupa.tail()

,ANO,MES,COD_MUNICIPIO,NOME_MUNICIPIO,CD_ORGAO,NOME_ORGAO,CD_RECEBIMENTO,CD_ORGAO_ORCAMENTARIO,NOME_ORGAO_ORCAMENTARIO,CD_UNIDADE_ORCAMENTARIA,...,VL_REDUCAO_RECURSO,VL_TRANSFERENCIA,VL_TRANSPOSICAO,VL_REMANEJAMENTO,VL_EMPENHADO,VL_LIQUIDADO,VL_PAGO,VL_LIMITADO,VL_RECOMPOSICAO,VL_PREVISAO_EXECUCAO
427623,2023,10,222,TUPANCIRETÃ,88437,TUPANPREV - AUT. PREV. SERV. PÚBLICOS DO MUNIC...,314350,13,FUNPREV,1,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0
427624,2023,10,222,TUPANCIRETÃ,88437,TUPANPREV - AUT. PREV. SERV. PÚBLICOS DO MUNIC...,314350,13,FUNPREV,1,...,0.0,0.0,0.0,0.0,46415.94,46415.94,46415.94,0.0,0.0,0.0
427625,2023,10,222,TUPANCIRETÃ,88437,TUPANPREV - AUT. PREV. SERV. PÚBLICOS DO MUNIC...,314350,13,FUNPREV,1,...,0.0,0.0,0.0,0.0,313795.47,282239.29,282239.29,0.0,0.0,0.0
427626,2023,10,222,TUPANCIRETÃ,88437,TUPANPREV - AUT. PREV. SERV. PÚBLICOS DO MUNIC...,314350,13,FUNPREV,1,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0
427627,2023,10,222,TUPANCIRETÃ,88437,TUPANPREV - AUT. PREV. SERV. PÚBLICOS DO MUNIC...,314350,29,RESERVA CONTINGENCIA FUNPREV,99,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0

In [27]:
poa_viam = dados[(dados['COD_MUNICIPIO'] == 149) | (dados['COD_MUNICIPIO'] == 230)]

poa_viam.tail()

,ANO,MES,COD_MUNICIPIO,NOME_MUNICIPIO,CD_ORGAO,NOME_ORGAO,CD_RECEBIMENTO,CD_ORGAO_ORCAMENTARIO,NOME_ORGAO_ORCAMENTARIO,CD_UNIDADE_ORCAMENTARIA,...,VL_REDUCAO_RECURSO,VL_TRANSFERENCIA,VL_TRANSPOSICAO,VL_REMANEJAMENTO,VL_EMPENHADO,VL_LIQUIDADO,VL_PAGO,VL_LIMITADO,VL_RECOMPOSICAO,VL_PREVISAO_EXECUCAO
427504,2023,10,230,VIAMÃO,88398,IPREV - INSTITUTO DE PREVIDÊNCIA DOS SERVIDORE...,313241,21,IPREV,1,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0
427505,2023,10,230,VIAMÃO,88398,IPREV - INSTITUTO DE PREVIDÊNCIA DOS SERVIDORE...,313241,21,IPREV,1,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0
427506,2023,10,230,VIAMÃO,88398,IPREV - INSTITUTO DE PREVIDÊNCIA DOS SERVIDORE...,313241,21,IPREV,1,...,0.0,0.0,0.0,0.0,78303214.45,78303214.45,78301671.19,0.0,0.0,0.0
427507,2023,10,230,VIAMÃO,88398,IPREV - INSTITUTO DE PREVIDÊNCIA DOS SERVIDORE...,313241,21,IPREV,1,...,0.0,0.0,0.0,0.0,5749932.13,5749932.13,5749932.13,0.0,0.0,0.0
427508,2023,10,230,VIAMÃO,88398,IPREV - INSTITUTO DE PREVIDÊNCIA DOS SERVIDORE...,313241,21,IPREV,1,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0

In [28]:
pagamentos_no_na = dados[pagamentos.notna()]

pagamentos_no_na.head()

,ANO,MES,COD_MUNICIPIO,NOME_MUNICIPIO,CD_ORGAO,NOME_ORGAO,CD_RECEBIMENTO,CD_ORGAO_ORCAMENTARIO,NOME_ORGAO_ORCAMENTARIO,CD_UNIDADE_ORCAMENTARIA,...,VL_REDUCAO_RECURSO,VL_TRANSFERENCIA,VL_TRANSPOSICAO,VL_REMANEJAMENTO,VL_EMPENHADO,VL_LIQUIDADO,VL_PAGO,VL_LIMITADO,VL_RECOMPOSICAO,VL_PREVISAO_EXECUCAO
0,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,1291047.08,99401.81,99401.81,0.0,0.0,0.0
1,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,251900.00,30456.87,0.00,0.0,0.0,0.0
2,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0
3,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,6206.47,6206.47,6206.47,0.0,0.0,0.0
4,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,1239.00,1239.00,1239.00,0.0,0.0,0.0

In [29]:
pagamentos_no_na.shape

(427628, 41)

In [31]:
# Selecionando linhas e colunas específicas

amedia_nomes = dados.loc[dados["VL_PAGO"] > 1.16809000, "NOME_MUNICIPIO"]

amedia_nomes.head()

0    PORTO ALEGRE
3    PORTO ALEGRE
4    PORTO ALEGRE
5    PORTO ALEGRE
6    PORTO ALEGRE
Name: NOME_MUNICIPIO, dtype: object

In [32]:
dados.iloc[9:25, 2:5]

    COD_MUNICIPIO NOME_MUNICIPIO  CD_ORGAO
9             149   PORTO ALEGRE     88399
10            149   PORTO ALEGRE     88399
11            149   PORTO ALEGRE     88399
12            149   PORTO ALEGRE     88399
13            149   PORTO ALEGRE     88399
14            149   PORTO ALEGRE     88399
15            149   PORTO ALEGRE     88399
16            149   PORTO ALEGRE     88399
17            149   PORTO ALEGRE     88399
18            149   PORTO ALEGRE     88399
19            149   PORTO ALEGRE     88399
20            116     MACHADINHO     51602
21            116     MACHADINHO     51602
22            116     MACHADINHO     51602
23            116     MACHADINHO     51602
24            116     MACHADINHO     51602

In [36]:
dados.iloc[0:3, 3] = 'topo'

dados.head(5)

,ANO,MES,COD_MUNICIPIO,NOME_MUNICIPIO,CD_ORGAO,NOME_ORGAO,CD_RECEBIMENTO,CD_ORGAO_ORCAMENTARIO,NOME_ORGAO_ORCAMENTARIO,CD_UNIDADE_ORCAMENTARIA,...,VL_REDUCAO_RECURSO,VL_TRANSFERENCIA,VL_TRANSPOSICAO,VL_REMANEJAMENTO,VL_EMPENHADO,VL_LIQUIDADO,VL_PAGO,VL_LIMITADO,VL_RECOMPOSICAO,VL_PREVISAO_EXECUCAO
0,2023,1,149,topo,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,1291047.08,99401.81,99401.81,0.0,0.0,0.0
1,2023,1,149,topo,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,251900.00,30456.87,0.00,0.0,0.0,0.0
2,2023,1,149,topo,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0
3,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,6206.47,6206.47,6206.47,0.0,0.0,0.0
4,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,1239.00,1239.00,1239.00,0.0,0.0,0.0

In [ ]:
# Escrever csv em arquivo excel

planilha = dados.to_excel('balancete.xlsx', sheet_name="gastos", index=False)

In [ ]:
planilha.head()

In [ ]:
dados.info()

### Definindo a função de entrada

In [ ]:
# Determinando a função para consumir a API do TCE - RS

def leitor_dados(arquivo: str) -> pd.DataFrame:
    return pd.read_csv(arquivo)

In [ ]:
# Teste

url = "https://dados.tce.rs.gov.br/dados/municipal/balancete-despesa/2023.csv"

dados = leitor_dados(url)

In [ ]:
dados.head(4)